/* You can add global styles to this file, and also import other style files */



body{
    --text-color:#595c5f;
    --card-bg : #fff;
    --table-header-bg : #f1f1f1;
    --file-over : #008000;

    --box-shadow1 : #0000001a;
    --box-shadow2 : #00000080;
    --box-shadow3 : #63636324;

    --btn1 : #6c757d;

    --border1 : #ccc;
    --border2: #dee2e6;
}

.tstr-title {
    font-family: "Roboto", sans-serif !important;
    font-size: 12px !important;
    margin-bottom: 5px;
    font-weight: 500 !important;
  }
  
  .tstr-message {
    font-family: "Roboto", sans-serif !important;
    font-size: 12px !important;
    color: var(--text-color) !important;
  }
  
  .toast-success {
    color: var(--text-color) !important;
    background-color: var(--card-bg) !important;
    border-radius: 6px !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    box-shadow: var(--box-shadow3) 0px 2px 8px 0px !important;
  }
  
  #toast-container > .toast-success {
    background-image: url("/assets/icons/success.png") !important;
    background-size: 17px 17px !important;
    padding: 20px !important;
    padding-left: 48px !important;
    background-position: 25px 22px !important;
  }
  
  #toast-container > .toast-error {
    background-image: url("/assets/icons/error.png") !important;
    background-size: 17px 17px !important;
    padding: 20px !important;
    padding-left: 49px !important;
    background-position: 25px 22px !important;
  }
  
  .toast-error {
    color: rgba(0, 0, 0, 0.99) !important;
    background-color: var(--card-bg) !important;
    border-radius: 6px !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    box-shadow: var(--box-shadow3) 0px 2px 8px 0px !important;
  }